.card {
    border: 5px solid rgb(204, 124, 4);
    border-radius: 8px;
    width: 30%;
    min-width: 150px;
}
.card-img {
    width: 50%;
}

.card-h1 {
    color: rgb(12, 12, 12);
    border: 3px solid;
    border-radius: 5px;
    background-color: rgb(204, 124, 4);
    border-width: 10%
}

.card-desc {
    color: whitesmoke;
    font-size: 130%;
    justify-content: center;
}
.detail-but{
    color: white;
    background-color: rgb(69, 69, 240);
    padding: 5px 20px;
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 10px;
}