@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
  background-color: rgb(27, 24, 24);
}

.card-container-favorite{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.card-favorite-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.mt-10{
  margin-top: 10px;
}

.container{
  display: flex;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.none{
  display: none;
}
.container-form {
  color: white;
}